.submit {
    position: absolute;
    z-index: 1000;
}

@media (min-width: 1025px) {
    html {
        font-size: 24px;
    }
}

* {
    line-height: 1.2 !important;
}

@media (min-width: 1600px) {
    html {
        font-size: 32px !important;
    }
}

.cropper :global(.reactEasyCrop_CropArea) {
    transition: transform 0.2s ease-out;
}

* {
  font-family: var(--font-inter), sans-serif;
  margin: 0;
  padding: 0;
}

.error {
    font-size: 0.4rem;
    font-weight: 400;
    color: rgb(226, 34, 13);
    margin-top: -0.1875rem;
}

body {
    overflow-x: hidden;
}


