$main-color: #FFF;
$title-color: #000;
$text-color: #919191;
$background-color: #F2F2F2;
$accent-color: #EBEBEB;

$main-font-size: 0.4375rem;
$main-font-weight: 400;
$main-font-accent-weight: 500;

$title-font-size: 1rem;
$title-font-weight: 700;

$form-subtitle-size: 0.75rem;
$form-subtitle-weight: 700;

$subtitle-size: 0.625rem;
$subtitle-weight: 700;

$bento-block-shadow: 0.0625rem 0.125rem 0.28125rem 0 rgba(0, 0, 0, 0.1);

$error-color: rgb(226, 34, 13);